<div class="shapes-container">
  <div appDraggable>
      <svg height="90" width="90">
          <circle id="circ" cx="50" cy="50" r="40" style="fill:rgb(47, 194, 164)" />
          Sorry, your browser does not support inline SVG.  
        </svg> 
  </div>
  <div appDraggable>
      <svg width="60" height="80">
          <rect id="rec" width="60" height="60" style="fill:rgb(29, 128, 107)" />
          Sorry, your browser does not support inline SVG.  
        </svg>
  </div>
  <div appDraggable>
      <svg height="80" width="100">
          <path id="tria" d="M 10,150 L 70,10 L 130,150 z" style="fill:rgb(47, 194, 164)"/>
          Sorry, your browser does not support inline SVG.  
        </svg>
  </div>
</div>