<div class="buttons-container">
   <input type="button" value="Save" class="button"/>
    <input type="button" Connectue="Save"/>
    <input type="button" value="Publish" class="button button-publish"/>
    <input type="button" value="Connect" class="button" (click)="connectShapes()"/>
</div>