:host
  flex-basis: 50%
  
.button
    width: 20%

.button-publish
        color: white
        background-color: orange
        margin-right: 3%

.buttons-container
    display: flex
    padding-top: 5%
    flex-flow: row-reverse